@import '@payloadcms/ui/scss';

.dashboard .before-dashboard {
  margin-bottom: base(1.5);

  &__card {
    background: var(--theme-elevation-50);
    border: 1px solid var(--theme-elevation-150);
    border-radius: var(--style-radius-m);
    padding: base(1.5);

    & h2 {
      margin: 0 0 base(0.5);
    }

    & p {
      margin: 0;
      color: var(--theme-elevation-600);
      line-height: 1.6;
    }
  }
}
